<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!--配置连接池：
	    1.引入外部属性文件
	    2.配置C3P0的连接池
	    3.配置hibernate的相关属性
	-->
    <!--1-->
	<context:property-placeholder location="classpath:jdbc.properties"/>

    <!--2-->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.root}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>



    <!--3-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <!--数据库连接池注入-->
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>

        <!--hibernate属性设置-->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>

        <!--添加映射文件-->
        <property name="mappingDirectoryLocations">
            <list>
                <value>classpath*:/com/onlyisssilence/muya/domain</value>
            </list>
        </property>
    </bean>

    <!--配置事物管理-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

	<!--由spring来管理action(推荐使用这种方法，因为使用spring管理后可以"享受"spring的AOP特性)-->
	<bean id="productAction" class="com.onlyisssilence.muya.action.ProductAction">
		<property name="productService" ref="productService"/>
	</bean>

	<!--配置业务层的类-->
	<bean id="productService" class="com.onlyisssilence.muya.service.ProductService">
		<property name="produceDao" ref="productDao"/>
	</bean>

	<!--配置持久层的类-->
	<bean id="productDao" class="com.onlyisssilence.muya.dao.ProduceDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>